body{
    background-color: rgb(121, 112, 241);
    text-align: center;
    font-size: 32px;
    margin-top: 5%;

}

button{
    padding: 10px;
    color: white;
    background-color: rgb(2, 2, 2);
    font-size: 20px;
    
}